{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="{% static 'script.js' %}" type="text/javascript"></script> -->

</head>

<body>
    <h1>Chatbot</h1>
    <script src="{% static 'script.js' %}" type="text/javascript"></script>


</body>

</html>












<!-- <form>

    <h1>About Us.</h1>
    <b>
    <H1>MADE By Sfitians</H1>
</b>
    <div>
        <h2>Jerin John - Backend + OpenCV + Database | CTO - Chief Technology Officer </h2>
        <b>
        <h3>Equity = 49%</h3>
        </b>
    </div>
    <hr>
    <div>
        <h2>Shashank Desai- Frontend + Backend + Database | CEO - Chief Executive Officer </h2>
        <b>
        <h3>Equity = 49%</h3>
        </b>
    </div>
    <hr>

    <div>
        <h2>Kush - Frontend ( CFO - Chief Financial Officer )</h2>
        <b>
        <h3>Equity= 1.5%</h3>
    </b>
    </div>
    <hr>
    <div>
        <h2>Akash - PPT MAKER ( CMO - Chief Marketing Officer )</h2>
        <b>
        <h3>Equity = 0.5%</h3>
    </b>
    </div>
    <hr>
</form> -->